.gameOne_volcano {
  background-color: var(--landing-volcano-bg-color);
}

.gameTwo_ {
  background-color: var(--landing-gameTwo-bg-color);
}

.gameThree_ {
  background-color: var(--landing-gameThree-bg-color);
}
