.landing {
  margin: 0 -8px;

  .navbar-spacing {
    margin-top: 39px;
  }

  .game {
    margin: 0 auto;
    max-width: 600px;
    text-decoration: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &:link,
    &:visited {
      color: #000;
    }

    &:hover {
      color: #fff;
    }

    span {
      font-size: 5rem;
    }

    img {
      height: 200px;
    }
  }
}
